:root {
  --color-background: #161315;
  --color-background-light: #f7f7f8;
  --color-background-white: #fcfcfc;

  --color-text-lighter: #ecd2c1;
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #9060ff;
  --color-primary-text: #b494ff;

  --gradient-blue: linear-gradient(90deg, #3072be 0%, #5b9fef);
  --gradient-case-study: linear-gradient(90deg, #f76b1c 0%, #fad961);
  --gradient-project: linear-gradient(90deg, #64c5d1 0%, #62dba6);
  --gradient-pro: linear-gradient(90deg, #fad961 0%, #f76b1c);
  --gradient-power: linear-gradient(90deg, #64c5d1 0%, #62dba6);
  --gradient-dark: linear-gradient(90deg, #18334f 0%, #192532);

  --color-text: #464e5b;
  --color-text-dark: #2a3039;
  --color-white: #fff;
  --color-primary: #3c80cf;
  --color-primary-light: #4a90e2;
  --color-primary-dark: #3072be;
  --color-error: #e05d5d;

  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
